html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: black;
    font-family: 'Roboto', sans-serif;
}

#loading {
    display: block;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#wrap {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#wrap > div {
    position: fixed;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    filter: blur(20px);
    transform: scale(.5);
}

#wrap > div.active {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
    filter: blur(0);
    transform: scale(1);
}

#wrap > #gameplay {
    opacity: 1;
    z-index: 0;
    transform: scale(1);
    filter: blur(0);
}

#wrap > div.active ~ #gameplay {
    opacity: .75;
    filter: blur(10px);
    transform: scale(.95);
}


button {
    background-color: white;
    border: 0;
    border-radius: 200px;
    padding: 16px 24px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.25px;
    font-size: 16px;
    margin: 16px;
    min-width: 160px;
    outline: none;
    transition: .25s;
    opacity: .75;
    cursor: pointer;
}

input {
    background-color: white;
    position: relative;
    z-index: auto;
    border: 0;
    outline: none;
    font-size: 14px;
    margin: 16px;
    width: 90%;
    min-height: 27px;
    border-radius: 200px;
    font-weight: bold;
    padding: 12px 20px;
    opacity: .75;
    cursor: text;
}

#loginMenu , #registerMenu {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

button:hover, input:hover {
    opacity: 1;
}

h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 48px;
    margin-top: 0;
}

h2 {
    color: white;
    letter-spacing: 2px;
    font-size: 36px;
    margin-top: 0;
}
